services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "8080:8080"
    container_name: my-api
    depends_on:
      - db
  db:
    image: postgres:latest
    ports: 
      - "5432:5432"
    environment:
       POSTGRES_USER: postgres
       POSTGRES_PASSWORD: 1111
       POSTGRES_DB: db
    volumes:
      - db-data:/var/lib/postgresql 
    container_name: postgres
volumes:
  db-data:

